{{ template "header" .}}


  <main class="px-3">
    <h1>Go Library.</h1>
    <p class="lead">welcome to go Library.</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
    </p>
  </main>

{{ template "footer" .}}