
{{ template "header" .}}
 <main class="container">
 <h4>Books Borrowed</h4>
 <br>
 <table class="table table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Borrowed On</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="books-borrowed">
  
  </tbody>
</table>
 </main>
 
{{ template "footer" .}}
 <script src="/assets/js/return.js"></script>