
{{ template "header" .}}
 <main class="container">
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <button class="btn btn-outline-light" type="button">Borrow Book</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <button class="btn btn-outline-secondary" type="button">Retrun Book</button>
        </div>
      </div>
</div>
 </main>
{{ template "footer" .}}