
{{ template "header" .}}
 <main class="container">
 <h4>Available Books</h4>
 <br>
 <table class="table table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Available Quantity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="books-avaialbe">
  
  </tbody>
</table>
 </main>
 
{{ template "footer" .}}
 <script src="/assets/js/borrow.js"></script>