{{define "footer"}}
<footer class="mt-auto text-white-50">
   </footer>
</div>
  </body>
  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/main.js"></script>
</html>
{{end}}