{{define "footer"}}
<footer class="mt-auto text-white-50">
   </footer>
</div>
  </body>
  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
</html>
{{end}}