{{define "header"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="/assets/signin.css" rel="stylesheet">
    <link href="/assets/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Go Library</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active no-auth" aria-current="page" href="/login">Login</a>
        <a class="nav-link no-auth" href="/signup">Sign Up</a>
       
        <a class="nav-link auth user-auth" href="/user/borrow-book">Borrow Book</a>
        <a class="nav-link auth user-auth" href="/user/return-book">Return Book</a>

        <a class="nav-link auth admin-auth" href="/admin/add-books">Add Books</a>
        <a class="nav-link auth admin-auth" href="/admin/view-books">View Books</a> 

         <a class="nav-link auth" onclick="logOut()">Log Out</a>
      </nav>
    </div>
  </header>
 {{end}}